html, body {
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    width: 100%;
    text-align: center;
}

main > div {
    width: 30em;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
}

.error {
    position: relative;
}

.error::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 4px;
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

form input {
    padding: 5px;
    font-size: 16px;
    margin: 10px;
}

form button {
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
}