<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
                <button type="submit">Login</button>
            </form>
            <!-- Show error message if exists -->
            <div th:if="${error}">
                <script type="text/javascript">
                    alert("Error: [[${error}]]");
                </script>
            </div>
        </div>
    </main>
</body>
</html>